html {
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
    font-family: 'Inter Tight', sans-serif;
}

h1 {
    padding: 30px;
    top: 0;
    text-align: center;
    position: absolute;
    font-family: "Bitcount Single", system-ui;
    font-size: 4rem;
    font-weight: 500;
    color: #D92121;
}

input {
    outline: none;
    border: none;
    background: none;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background: rgb(255, 255, 255, 0.2);
    width: 500px;
    font-size: 1.5rem;
    font-family: 'Inter Tight', sans-serif;
}

.difficulty {
    position: absolute;
    top: 30px;
    left: 30px;
    font-family: "Bitcount Single", system-ui;
    font-weight: 450;
}

.timer {
    position: absolute;
    right: 30px;
    top: 30px;
    font-family: "Bitcount Single", system-ui;
    font-size: 4rem;
    font-weight: 450;
}

.prompt {
    font-size: 2rem;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 800;
}